
.mainn {
   /* width: 100vw; */
   /* max-width: 80rem; */
  height: fit-content;
  /* border: 1px solid black; */
  place-items: center;
  padding: 100px 50px;
  /* display: grid; */
  background-color: #fff7ee;
}

 
#howworkspic{
  max-width: 100%;
  min-height: 250px;
  height: auto;
}

.how-works{
  width: 100%;
  height: fit-content;
  display: grid;
  /* padding: 50px 50px; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 40px;
  row-gap: 40px;
  /* border: 1px solid red; */
  position: relative;
}


.how-work-content{
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  position: relative;
  overflow: hidden;
  /* padding: 10px 0 0 100px; */
  place-items: center;
} 

.content-heading{
  /* border: 1px solid black; */
  display: flex;
  width: 100%;
  
}

.how-work-content .content-heading h2{
  /* margin-bottom: 10px; */
  /* padding: 0 0 0 70px; */
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    /* margin-left: 10px; */
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}

@media screen and (max-width:767px){

  .how-work-content .content-heading h2{
    font-size: 2.5rem;
  }

}




@media screen and (max-width: 991px){
  .how-work-content .content-heading h2 {
    font-size: 3rem;
}
}

.how-work-content ul{
  padding: 0 10px 0 50px;
  /* border: 1px solid purple; */
  list-style-image: url(https://assets.website-files.com/6390ccac206b2dabb754420e/63937d6ba0bd65344040f720_ticked-icon.svg);
  /* margin-top: -12%;  */
}  

.how-work-content ul li{
  padding: 0 10px 0 0;
  margin-top: 20px;
  font-size: larger;
  /* border: 1px solid green; */
}


.btn-started{
  margin-top: 10%;
  margin-left: 10px;
}
